<%- include('./partials/prefix-html.ejs'); %>
<%- include('./partials/header.ejs'); %>
<%- include('./partials/sidebar.ejs'); %>

<div>
    Welcome to Dashboard, <%= loggedInUserData.firstName %> <%= loggedInUserData.lastName %>
</div>

<div>
    <a href="/logout">Sign out</a>
</div>

<%- include('./partials/suffix-html.ejs'); %>