<%- include('./partials/prefix-html.ejs'); %>
<%- include('./partials/navbar.ejs', { loggedInUserData }); %>
<%- include('./partials/sidebar.ejs'); %>

<!-- View Start -->

<div>Welcome to Dashboard, <%= loggedInUserData.firstName %> <%= loggedInUserData.lastName %>. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam error, quaerat soluta autem nobis ipsam quae quod necessitatibus ipsum distinctio quo consequatur ut, accusamus rerum explicabo facere voluptate provident in cum, saepe adipisci vel obcaecati odio! Sed adipisci magni, cumque maxime rerum neque atque veritatis pariatur ullam voluptas, laboriosam necessitatibus, harum rem nisi eum doloremque! Voluptatibus distinctio eius eligendi enim dignissimos rerum sed minima odit iure, fugit ad impedit necessitatibus quae delectus voluptas, rem eos, autem accusamus pariatur. Quis, ex esse veritatis voluptas repellendus vero rerum repellat, reiciendis aperiam perferendis temporibus voluptate explicabo tenetur mollitia excepturi quos ea eaque facilis officiis facere fugiat consectetur harum veniam at! Voluptas odit labore doloremque rerum autem voluptatibus, illum aut perferendis asperiores, corrupti sapiente itaque molestiae, aliquam at error nostrum porro ipsum et optio placeat neque aliquid a? Quisquam, hic magni, totam assumenda earum adipisci dolorem unde natus aliquid accusamus mollitia error. Eius ut quam cum temporibus debitis quo deleniti quaerat aliquam error, reprehenderit vero omnis perspiciatis, repellat rerum atque sed cupiditate odio nam tenetur! Sint repudiandae eos distinctio debitis iusto blanditiis veniam eveniet iste illum impedit. Temporibus suscipit totam repellat impedit! Sequi libero aliquam, iure numquam exercitationem, dolores illo sit laudantium molestias, commodi enim sint? Nihil, reprehenderit facilis! Ipsam officia esse quas ducimus libero tempora necessitatibus blanditiis, dolorem laboriosam, itaque, illum sed aut. Aspernatur magni, ratione quod est blanditiis error impedit soluta iusto obcaecati, exercitationem minima natus distinctio voluptatibus. Fugit cumque, quia vitae nobis cupiditate delectus quasi porro rerum dolorem. Quasi facilis doloribus explicabo aliquam suscipit molestias nobis perferendis esse. Deleniti tempora sapiente sunt voluptatum itaque adipisci nesciunt delectus voluptas laborum neque id corrupti temporibus, voluptatem odio quaerat nostrum asperiores, expedita est? Sit quam possimus cum suscipit molestiae dolore harum quod quibusdam tempore nihil magni adipisci repellat nemo nam, alias blanditiis amet quae debitis temporibus aperiam est perferendis! Quod, nesciunt enim obcaecati est fuga mollitia. Doloremque aliquid dolorem nemo ratione esse rerum totam eius illum consequatur est, exercitationem odio quidem earum dicta fugit itaque cum ducimus. Pariatur, sit similique impedit culpa, quo fugit autem expedita ipsam inventore tempore modi magni necessitatibus fugiat quisquam est excepturi numquam accusamus enim suscipit iusto laboriosam laudantium odio! Laborum aliquam tempora officiis cum minima quod, sit odio cumque esse ullam impedit mollitia hic a, aliquid qui doloremque atque? Excepturi quo sequi non iste pariatur illo et at a? Quia esse beatae dignissimos provident molestiae iusto possimus, error voluptatem numquam cupiditate quas! Modi a beatae, animi eveniet autem iusto perferendis magni atque quam eius repellat, obcaecati incidunt porro non aliquid fugiat accusamus, tempore labore consectetur. Temporibus assumenda sunt sint fuga recusandae molestias! Soluta molestiae repellendus nemo quo nulla provident repellat ad eos tempore illo. Ex cumque rerum totam porro, aspernatur, nobis est quae, quis voluptatibus autem repudiandae quam laborum quaerat voluptatem? Earum laboriosam, nulla a eum aliquid quibusdam! Optio temporibus inventore iste perferendis rerum provident consequuntur, blanditiis quis tempore ipsa, neque dignissimos qui ducimus culpa sunt doloremque totam sequi eaque minus consequatur atque vel? Eius ullam eveniet omnis quidem!</div>

<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>
<div><a href="/logout">Sign out</a></div>

<div>The End</div>

<!-- View End -->

<%- include('./partials/footer-links.ejs'); %>

<!-- Scripts Start -->

<!-- Scripts End -->

<%- include('./partials/suffix-html.ejs'); %>