<%- include('../partials/prefix-html.ejs'); %>
<%- include('../partials/navbar.ejs', { loggedInUserData }); %>
<%- include('../partials/sidebar.ejs'); %>

<!-- View Start -->

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="page-header-content">
                    <h2 class="page-header-text">Add Todo</h2>
                </th>
                <th class="page-header-content page-header-btn">
                    <a class="btn btn-dark" href="/todos/list">
                        <i class="fa fa-circle-left page-header-back-btn-icon"></i>
                        <span class="page-header-back-btn-text">Back</span>
                    </a>
                </th>
            </tr>
        </thead>
    </table>
</div>

<form name="todoForm" id="todoForm">
    <div class="form-section mb-3">
        <div class="row mb-4 form-row">
            <div class="col-md-6">
                <label for="title" class="form-label form-label-text">Title</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="col-md-6">
                <label for="body" class="form-label form-label-text">Body</label>
                <input type="text" class="form-control" id="body" name="body">
            </div>
        </div>
        <div class="row mb-4 form-row">
            <div class="col-md-6">
                <label for="status" class="form-label form-label-text">Status</label>
                <select class="form-select" name="status" id="status">
                    <option>Choose an option</option>
                    <option value="active">Active</option>
                    <option value="inactive">InActive</option>
                </select>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="form-footer-content">
                        <button type="button" class="btn btn-dark form-footer-btn" id="todo-form-submit">
                            <span class="form-footer-btn-text">Submit</span>
                        </button>
                        <button type="button" class="btn btn-dark form-footer-btn" id="todo-form-reset">
                            <span class="form-footer-btn-text">Reset</span>
                        </button>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</form>

<!-- View End -->

<%- include('../partials/footer-links.ejs'); %>

<!-- Scripts Start -->

<script>
    const showToast = (type, position, message) => {
        toastr.options.timeOut = 600000; // show duration
        toastr.options.extendedTimeOut = 600000; // show duration after hover
        toastr.options.showDuration = 500; // fade in
        toastr.options.hideDuration = 500; // fade out
        toastr.options.positionClass = position; // toast-top-left, toast-top-right, toast-bottom-left, toast-bottom-right, toast-top-full-width, toast-bottom-full-width
        toastr[type](message); // success, info, warning, error
    };

    $('#todo-form-submit').click(async (event) => {
        try {
            $(".loader").css("display", "block");
            const data = new FormData();
            $("#todoForm input, #todoForm select, #todoForm textarea").each((index, elememt) => {
                data.append(elememt.name, elememt.value);
            });
            // for (let [key, value] of data.entries()) {
            //     console.log('---final222---', key, value);
            // }
            console.log('---before-aaa-----');
            const requestParams = {
                url: '/todos/addTodo',
                type: 'POST',
                data: data,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                cache: false,
            };
            const responseData = await $.ajax(requestParams);
            $(".loader").css("display", "none");
            console.log('---responseData---', responseData);
            showToast('success', 'toast-top-right', 'succ');
            console.log('---after-after-notif---');
        } catch (error) {
            // console.log(error);
        }
    })
</script>

<!-- Scripts End -->

<%- include('../partials/suffix-html.ejs'); %>