<%- include('../partials/prefix-html.ejs'); %>
<%- include('../partials/navbar.ejs', { loggedInUserData }); %>
<%- include('../partials/sidebar.ejs'); %>

<!-- View Start -->

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="page-header-cell">
                    <h2 class="page-header">Todos</h2>
                </th>
                <th class="page-header-cell page-header-cell-add-btn">
                    <button class="btn btn-primary">
                        <span class="page-header-cell-add-btn-text">Add</span>
                    </button>
                </th>
            </tr>
        </thead>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <% if (todos.length) { %>
        <thead>
            <tr>
                <th class="table-cell">Title</th>
                <th class="table-cell">Body</th>
                <th class="table-cell">Status</th>
                <th class="table-cell">Created At</th>
                <th class="table-cell">Action</th>
            </tr>
        </thead>
        <tbody>
            <% todos.forEach((todo) => { %>
            <tr>
                <td class="table-cell"><%- todo.title %></td>
                <td class="table-cell"><%- todo.body %></td>
                <td class="table-cell"><%- todo.status %></td>
                <td class="table-cell"><%- moment(todo.createdAt).format('DD-MM-YYYY HH:mm:ss') %></td>
                <td class="table-cell">
                    <span class="fa fa-edit icon-action"></span>
                    <span class="fa fa-trash icon-action"></span>
                </td>
            </tr>
            <% }); %>
        </tbody>
        <% } else { %>
        <thead>
            <tr>
                <th class="table-cell text-center">No Data Found</th>
            </tr>
        </thead>
        <% } %>
    </table>
</div>

<!-- View End -->

<%- include('../partials/footer-links.ejs'); %>

<!-- Scripts Start -->

<!-- Scripts End -->

<%- include('../partials/suffix-html.ejs'); %>