<%- include('../partials/prefix-html.ejs'); %>
<%- include('../partials/header.ejs', { loggedInUserData }); %>
<%- include('../partials/sidebar.ejs'); %>

<!-- View Start -->

<% if (todos.length) { %>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="table-cell">Title</th>
                <th class="table-cell">Body</th>
                <th class="table-cell">Status</th>
                <th class="table-cell">Created At</th>
                <th class="table-cell">Action</th>
            </tr>
        </thead>
        <tbody>
            <% todos.forEach(todo => { %>
            <tr>
                <td class="table-cell"><%- todo.title %></td>
                <td class="table-cell"><%- todo.body %></td>
                <td class="table-cell"><%- todo.status %></td>
                <td class="table-cell"><%- moment(todo.createdAt).format('DD-MM-YYYY HH:mm:ss') %></td>
                <td class="table-cell">
                    <span class="fa fa-edit icon-action"></span>
                    <span class="fa fa-trash icon-action"></span>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<% } else { %>
<div class="" style="text-align: center">
    <b>No Data Found</b>
</div>
<% } %>

<!-- View End -->

<%- include('../partials/footer-links.ejs'); %>

<!-- Scripts Start -->

<!-- Scripts End -->

<%- include('../partials/suffix-html.ejs'); %>